/* Basic reset styles */
*
{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

html, body, iframe
{
	width: 100%;
	height: 100%;
	overflow: hidden;
	/* If not have network connection, the hide animation looks bad with white background */
	background-color: black;
}

body {
	border: 1px solid #749dc5;
	border-top: none;
}

/* App font */
@font-face {
	font-family: "nwapp-icons";
	src: url("/fonts/nwapp-icons.woff") format("woff"),
		url("/fonts/nwapp-icons.ttf") format("truetype"),
		url("/fonts/nwapp-icons.svg#nwapp-icons") format("svg");
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: "nwapp-icons" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "nwapp-icons" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

.icon-close:before { content: "\62"; }
.icon-fullscreen:before { content: "\66"; }
.icon-minimize:before { content: "\69"; }
.icon-refresh:before { content: "\72"; }
.icon-config:before { content: "\63"; }
.icon-pin:before { content: "\70"; }
.icon-notif-off:before { content: "\6f"; }
.icon-notif:before { content: "\6e"; }


/* Styles for titlebar */
iframe#iframe {
	margin-top: 22px;
	height: calc(100vh - 22px);
}

div#menu-bar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	height: 23px;
	width: 100%;

	background: #e3f0ff;
	/*background: linear-gradient(
		90deg, rgba(163,241,242,1) 0%, 
		rgba(238,252,169,1) 25%, 
		rgba(250,206,177,1) 50%, 
		rgba(235,240,157,1) 75%, 
		rgba(158,233,247,1) 100%);*/

	background: linear-gradient(90deg, 
		rgba(250,251,188,1) 0%, 
		rgba(227,210,247,1) 40%, 
		rgba(243,207,239,1) 66%, 
		rgba(166,236,237,1) 100%);
	border-bottom: 1px solid #8593ad;

	-webkit-app-region: drag;

	transition: top 340ms ease-out;
	z-index: 765;
}

#menu-bar .title {
	font-family: sans-serif;
	font-size: 13px;
	padding: 3px;
	text-align: center;
	color: #616161;
	text-shadow: 0 0 2px rgb(255, 248, 237);
}

#menu-bar .buttons {
	position: absolute;
	top: 0;

	-webkit-app-region: no-drag;
}

#menu-bar .buttons.right {
	right: 0;
	margin-right: 6px;
	font-size: 0;
}

#menu-bar .buttons.left {
	left: 0;
	margin-left: 6px;
	font-size: 0;
}

#menu-bar .buttons.right > span {
	margin-right: 2px;
}

#menu-bar .buttons.left > span {
	margin-left: 2px;
}

#menu-bar .buttons > span {
	padding: 4px 5px 0px 4px;
	display: inline-block;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.1);
	font-size: 13px;
	width: 22px;
	overflow: hidden;
	color: #7d776b;
}

#menu-bar .buttons > span:hover {
	background: rgba(255, 255, 255, 0.5);
}

/* Fullscreen fixes */
.fullscreen div#menu-bar {
	top: -23px;
}

.fullscreen.stub:hover + div#menu-bar:hover {
	top: 0;
}

.fullscreen iframe#iframe {
	height: 100%;
	margin: 0;
}

.fullscreen div#overlay {
	margin-top: 0;
}

.fullscreen #menu-bar #config,
.fullscreen #menu-bar #notifications {
	display: none !important;
}

body.fullscreen {
	border: none !important;
}

/* Styles for preload screen message */
#pre-message
{
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 6%;
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
	font-family: sans-serif;
	color: white;
	background-color: #1f1f1f;

	z-index: 99;

	user-select: none;
	pointer-events: none;

	/* Animation */
	transition: opacity 2s ease-out, 
				visibility 2001ms step-end;

	/* Animated properties */
	opacity: 1;
	visibility: visible;

	margin-left: -1px;
}

#pre-message.hide
{
	opacity: 0;
	visibility: hidden;
}

#pre-message > *
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#pre-message a
{
	color: #33e1ff;
	pointer-events: auto;
}

#pre-message > h1
{
	margin-bottom: 100px;
	font-size: 30px;
}
#pre-message > p
{
	font-size: 17px;
}
#pre-message > small
{
	position: absolute;
	width: 70%;
	left: 15%;
	right: auto;
	bottom: 0;
}

/* Styles for OSD */
div#overlay {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 99;
	margin-top: 23px;

	/* Deny interaction events */
	user-drag: none;
	user-select: none;
	-webkit-user-drag: none;

	/* Animation properties */
	visibility: visible;
	
	transition: opacity 250ms ease-out, top 250ms, visibility 0s;
}

div#overlay.hide {
	transition: opacity 450ms ease-out, top 250ms, visibility 451ms step-end;

	/* Animation properties */
	top: -18px;
	opacity: 0;
	visibility: hidden;
}

#overlay > span.message {
	display: inline-block;
	margin-left: 15px;
	margin-top: 10px;
	color: #fff;
	font-size: 1.6em;
	font-family: sans-serif;
	font-weight: bold;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.8), 0 0 6px rgba(0, 0, 0, 0.4);
}

#menu-bar .dialog {
	position: absolute;
	top: 24px;

	width: 320px;
	height: auto;
	max-height: 80vh;
	overflow-y: auto;

	padding: 9px;

	background: white;
	border: 1px solid #dedede;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
	border-radius: 0 0 7px 7px;
	color: #546d71;
	font-family: sans-serif;

	cursor: auto;
	user-select: none;
}

/* Style for config dialog */
#menu-bar #config {
	position: absolute;
	top: 24px;
	left: 0;
	
	width: 320px;
	height: auto;
	max-height: 80vh;
	overflow-y: auto;

	padding: 9px;

	background: white;
	border: 1px solid #dedede;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
	border-radius: 0 0 7px 7px;
	color: #546d71;
	font-family: sans-serif;

	cursor: auto;
	user-select: none;
}

/* Scrollbar hacks */
#menu-bar .dialog::-webkit-scrollbar        { width: 5px; height: 5px; }
#menu-bar .dialog::-webkit-scrollbar-button { width: 0px; height: 0px; }

#menu-bar .dialog::-webkit-scrollbar-thumb {
	background: #a0a0a0;
	border: 0px none #ffffff;
	border-radius: 50px;
}
#menu-bar .dialog::-webkit-scrollbar-track {
	background: #15151524;
	border: 1px solid #ffffff;
	border-radius: 50px;
}
#menu-bar .dialog::-webkit-scrollbar-track:hover  { background: #00000024; }
#menu-bar .dialog::-webkit-scrollbar-track:active { background: #66666624; }
#menu-bar .dialog::-webkit-scrollbar-corner       { background: transparent; }

#menu-bar #config input[type="text"] {
	padding: 6px 9px 4px 9px;
	border: 1px solid lightgray;
	border-radius: 3px;
	width: 100%;
}

#menu-bar #config:before {
	content: '';
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid white;
	position: absolute;
	top: -6px;
	left: 8px;
}

#menu-bar #config > div.row {
	margin-bottom: 7px;
}

#menu-bar #config p {
	font-size: 12px;
	margin-bottom: 10px;
}

#menu-bar #config > div,
#menu-bar #config > div > label {
	display: block;
	margin-bottom: 12px;
}

#menu-bar .dialog h3 {
	width: 100%;
	margin-bottom: 4px;
	border-bottom: 1px solid #eee;
}

#menu-bar #notifications > div {
	padding: 8px;
	border-bottom: 1px solid #eee;
	transition: 280ms ease-out;
	position: relative;
}

#menu-bar #notifications > div.template { display: none; }

#menu-bar #notifications > div:hover { background: #f1f1f1; }

#menu-bar #notifications > div a {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	display: block;
}

#menu-bar #config .icon-config { width: auto; }

#menu-bar #config .button {
	padding: 8px 12px;
	
	color: #2e00ff;
	font-weight: bold;
	background: transparent;
	
	border-radius: 4px;
	cursor: pointer;
	transition: 300ms;

	border: 1px solid #0095ff;
	width: 45%;
	margin: 0 2.5%;
}

#menu-bar #config button.button:hover {
	background: #fdfdfd;
	box-shadow: 0 0 8px rgba(81, 86, 90, 0.3);
}

#menu-bar #config .button.danger {
	color: red;
	border: 1px solid red;
}

#menu-bar #config .button.danger:hover {

	box-shadow: 0 0 8px rgba(90, 81, 81, 0.3);
}